<?xml version="1.0" encoding="UTF-8"?>\n <\!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">\n <plist version="1.0">\n <dict>\n <key>items</key>\n <array>\n <dict>\n <key>assets</key>\n <array>\n <dict>\n <key>kind</key>\n <string>software-package</string>\n <key>url</key>\n <string>https://ridenui.github.io/mobileapp/ota/feat/ci-auto-build/RIDEN.ipa</string>\n </dict>\n </array>\n <key>metadata</key>\n <dict>\n <key>bundle-identifier</key>\n <string>org.ridenui.RIDEN</string>\n <key>bundle-version</key>\n <string>1.0</string>\n <key>kind</key>\n <string>software</string>\n <key>title</key>\n <string>RIDEN</string>\n </dict>\n </dict>\n </array>\n </dict>\n </plist>
