<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>provisioningProfiles</key>
        <dict>
            <key>org.ridenui.RIDEN</key>
            <string>Riden Ad Hoc</string>
        </dict>
        <key>method</key>
        <string>ad-hoc</string>
        <key>compileBitcode</key>
        <false />
        <key>signingCertificate</key>
        <string>Apple Distribution: Tom Sacher (W4DRGXG6V5)</string>
        <key>signingStyle</key>
        <string>manual</string>
    </dict>
</plist>
