<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/boost</string>
			<key>Title</key>
			<string>boost</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/BVLinearGradient</string>
			<key>Title</key>
			<string>BVLinearGradient</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/CocoaAsyncSocket</string>
			<key>Title</key>
			<string>CocoaAsyncSocket</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/DoubleConversion</string>
			<key>Title</key>
			<string>DoubleConversion</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/Flipper</string>
			<key>Title</key>
			<string>Flipper</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/Flipper-Boost-iOSX</string>
			<key>Title</key>
			<string>Flipper-Boost-iOSX</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/Flipper-DoubleConversion</string>
			<key>Title</key>
			<string>Flipper-DoubleConversion</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/Flipper-Fmt</string>
			<key>Title</key>
			<string>Flipper-Fmt</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/Flipper-Folly</string>
			<key>Title</key>
			<string>Flipper-Folly</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/Flipper-Glog</string>
			<key>Title</key>
			<string>Flipper-Glog</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/Flipper-PeerTalk</string>
			<key>Title</key>
			<string>Flipper-PeerTalk</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/Flipper-RSocket</string>
			<key>Title</key>
			<string>Flipper-RSocket</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/FlipperKit</string>
			<key>Title</key>
			<string>FlipperKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/fmt</string>
			<key>Title</key>
			<string>fmt</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/glog</string>
			<key>Title</key>
			<string>glog</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/libevent</string>
			<key>Title</key>
			<string>libevent</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/lottie-ios</string>
			<key>Title</key>
			<string>lottie-ios</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/lottie-react-native</string>
			<key>Title</key>
			<string>lottie-react-native</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/OpenSSL-Universal</string>
			<key>Title</key>
			<string>OpenSSL-Universal</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RCT-Folly</string>
			<key>Title</key>
			<string>RCT-Folly</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/React</string>
			<key>Title</key>
			<string>React</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/React-Core</string>
			<key>Title</key>
			<string>React-Core</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/react-native-safe-area-context</string>
			<key>Title</key>
			<string>react-native-safe-area-context</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/react-native-version-info</string>
			<key>Title</key>
			<string>react-native-version-info</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/react-native-zeroconf</string>
			<key>Title</key>
			<string>react-native-zeroconf</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNCAsyncStorage</string>
			<key>Title</key>
			<string>RNCAsyncStorage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNCClipboard</string>
			<key>Title</key>
			<string>RNCClipboard</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNCMaskedView</string>
			<key>Title</key>
			<string>RNCMaskedView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNFS</string>
			<key>Title</key>
			<string>RNFS</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNGestureHandler</string>
			<key>Title</key>
			<string>RNGestureHandler</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNLocalize</string>
			<key>Title</key>
			<string>RNLocalize</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNReactNativeHapticFeedback</string>
			<key>Title</key>
			<string>RNReactNativeHapticFeedback</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNReanimated</string>
			<key>Title</key>
			<string>RNReanimated</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNScreens</string>
			<key>Title</key>
			<string>RNScreens</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNSVG</string>
			<key>Title</key>
			<string>RNSVG</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/RNVectorIcons</string>
			<key>Title</key>
			<string>RNVectorIcons</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/SwifterSwiftSSH</string>
			<key>Title</key>
			<string>SwifterSwiftSSH</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>org.ridenui.RIDEN.cocoa/YogaKit</string>
			<key>Title</key>
			<string>YogaKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
